* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
}

@font-face {
  font-family: 'Boots & Spurs';
  src: url('C:\Users\cadar\Desktop\Dev-folder');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Boots & Spurs';
}

body p {
  font-family: 'Roboto', sans-serif;
}

body {
  height: auto;
}

.navbar {
  padding: 6px;
  justify-content: space-between;
  display: flex;
}

.navbar ul {
  list-style: none;
}

.navbar,
.navbar a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
.navbar ul {
  width: 15rem;

  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.header h1 {
}

section {
  margin: 4rem;
}

.guitar-list {
  color: #363636;
}

.btn-primary {
  background-color: #6dd069;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px;
}

a.view {
  padding: 6px;
  text-align: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: #fff;
  background-color: red;
  border-radius: 6px;
}
.view-top {
  text-decoration: none;
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  appearance: button;
}

/* section for reviews/ color grey */

.section-reviews {
  background-color: #f0f0f0;
}

.footer {
  background-color: #000;
  color: #fff;
  height: 5rem;
  margin-top: 2rem;
}
