/* General stuff for site */
* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  margin: 0 auto;
}
/* All sections */
section {
  height: auto;
  /* width: 100%; */
}
/* Font settings P*/
@font-face {
  font-family: 'Boots & Spurs';
  src: url('C:\Users\cadar\Desktop\Dev-folder');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Boots & Spurs', Verdana, sans-serif;
}

body p {
  font-family: 'Roboto', Verdana, sans-serif;
}

body {
  height: auto;
}
.header {
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;

  height: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar,
.navbar a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
.navbar a {
  padding: 5px 15px;
}
.navbar ul {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.header__title {
  margin: 10px;
}
/* first section top header */
.header-top {
  height: 90vh;
  background: url(.//images/home-header.jpg) no-repeat 100% 100%;
  background-size: cover;
  /* width: 100%;
  display:table; */
  overflow: hidden;
}

.wrapper {
  position: relative;
  top: 10rem;
  left: 10rem;
  z-index: 0;
}

.header-top h1 {
  margin: 0;
  color: #000;
  font-size: 30px;
  padding: 20px;
}

.home__ourgitars {
  text-align: left;

  color: #000;
  margin: 0;
}

.guitar-list {
  color: #363636;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  text-decoration: none;
}

.btn-primary {
  background-color: #6dd069;
  padding: 6px;
  text-align: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}

a.view {
  padding: 6px;
  text-align: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: #fff;
  background-color: #d81939;
  border-radius: 6px;
}
.Header-view__link {
  text-decoration: none;
  background-color: #d81939;
  color: #fff;
  padding: 8px 60px;
  border-radius: 12px;
  appearance: button;
  margin-left: 1rem;
  font-size: large;
}
/* arrow for view on home page */
.fa-arrow-circle-right {
  vertical-align: middle;
  font-size: 30px;
  margin-left: 0.5rem;
}

/* ==========================
=============Home================
================================= */
/* section for reviews/ color grey */

.section-reviews {
  background-color: #dcdcdc;
  height: 80vh;
  margin-bottom: 1rem;
}
.reviews__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-title {
  margin: 0;
  padding-top: 5rem;
  text-align: center;
  font-size: 2rem;

  font-weight: bolder;
}

.reviews__wrapper p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.section__ourgitar {
  color: green;

  /* text-align: center; */
}

.section__ourgitar__wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.reviews-img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  /* margin-top: 6rem; */
}
.reviews__list {
  width: 500px;
  height: 20rem;
  /* background-color: #6dd069; */
  padding-top: 4rem;
  margin-right: 4rem;
}
.reviews__img-card {
  width: 600px;
  height: 20rem;
  /* background-color: aqua; */
  padding-top: 4rem;
  margin-left: 4rem;
}
.list__guitar-home {
  margin-right: 4rem;
}
.ourgitar__title {
  margin-bottom: 0;
  text-align: center;
  color: red;
}

.ourgitar {
  height: 600px;
  display: flex;
  align-items: center;
  margin: 0;
}

.guitar-list {
  padding: 2rem;
  padding-top: 2rem;
  padding-left: 19px;
}

.home__guitar-title{
  text-align: center;
  margin:1.3rem 0;
  

}

.home__guitar-warraper{
  
  margin:.5rem;
 padding:.5rem;
   max-width: 100%;
  display:grid;
 grid-gap: 40px;
    grid-template-columns: repeat(4, 180px);
  grid-auto-rows:1;
  justify-content:center;
}


.home__guitar-warraper-page{
  
  margin:.5rem;
 padding:.5rem;
   max-width: 100%;
  display:grid;
 grid-gap: 40px;
    grid-template-columns: repeat(3, 180px);
  grid-auto-rows:1;
  justify-content:center;

}


.guitars-info {
  height:7rem;
  margin:0;
  width:12rem;
  margin:0.5rem;
  
 
}

.guitars-info p{
  margin:0;
  padding:0;
  font-weight: bold;
}
.guitars-info h6{
  margin:0;
  padding:0;
  font-weight: 300;
}

.guitars-info img{
  height:5rem;
  width:100%;
}

.ourgitar-img {
  width: 442px;
  border-radius: 8px;
  margin-left: 2rem;
}

.view-guitars {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.guitars-info-flex{
  display:flex;
  align-items: center;
  justify-content:space-between ;
  padding:.3rem;
  margin:.6rem;
}

/* contact section */


.contact{
 
  min-height:100%;
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

}

.contact__title {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4.6rem;
  
}

.contact__form {

  display: flex;
  align-items: start;
}

input, label, select{
  width: 60%;
  
}
.form__checkbox-div{
  width:60%;
  /* font-size: 10px; */

margin: 1.5rem 0;
height: 2rem;
 
  display: flex;
 justify-content:left;
 align-items: center;
 
 
  }

  .checkbox{
    display: inline-block; 
    text-align: left;
    /* padding-right: 10px; */
    flex:1;
  }
  .form__checkbox-div label{
    flex:7;
  }





.contact__card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  /* background-color: lightgreen; */
  padding: 6px;
  margin-right: .2rem;
}

.contact__card-right {
  /* background-color: lightblue; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: .2rem;
  /* margin-top: 1rem; */
}

.Form__contact-button{
  width: 20%;
  text-decoration: none;
  background-color: #d81939;
  color: #fff;
  padding: 12px 80px;
  border-radius: 12px;
  appearance: button;
  font-size: 24px;
 
}

.contact__btn{
  /* position:relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border: none;
    background-color: inherit;
    text-align: center;
margin-bottom: 4rem;

}

body::-webkit-scrollbar {
  width: 18px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #888; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fff; /* color of the scroll thumb */
  border-radius: 20px;
}

/* current page */

nav .current {
  font-weight: bolder;
  color: #fff;
  height: 25px;
  width: 100px;
  /* text-decoration: underline; */
  background-color: #d81939;

  border-radius: 6px;
}

.footer__div {
  background-color: #000;
  color: #fff;
  height: 73px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ourgitar page */
.ourgitar__wrapper-page {
  height: 70vh;
  display: flex;
  margin-top:4rem;
}
/* left card */
.ourgitar__page-card-left {
  flex: 1;
  display: flex;
  justify-content: right;
  align-content: center;
}
.guitar__display-images {
  height: 100%;
  /* border: 1px solid green; */
  margin: 0;
}

.wrapping {
  height: 5rem;
  width: 30rem;
  display: flex;
  /* border: 2px solid blue; */
  justify-content: center;
  align-content: center;
  padding-top: .8rem;
  margin: 0;
}
.guitars-display-main-img {
  margin: 2rem auto 0;
  width: 28rem;
  padding:1rem'
}

.ourgitar__wrapper-page-img {
  height: 4rem;
 margin:6px;
 
  
}
/* Right card */
.ourgitar__page-card-right {
  flex: 1;
  margin-top: 4rem;;
/* 
  background-color: lightblue; */
}

.wrapper-right {
  margin: 0 auto;
  /* margin-bottom: 2rem; */
  padding: 3rem;
}

.ourgitar__title {
  text-align: left;
}

.wrapper-right p{
  width:60%;
  padding: 1rem 0;
  text-align: left;
  letter-spacing:1.5;

}

.button__ourgitar {
  text-decoration: none;
  background-color: #d81939;
  color: #fff;
  padding: 8px 60px;
  border-radius: 12px;
  appearance: button;
  margin-left: 0rem;
  font-size: large;
}
